<!DOCTYPE html>
<html>
<head>
    <title>Meu primeiro CP</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }

    h1 {
        color: #333;
        font-weight: bold;
    }

    p {
        color: #666;
    }

    button {
        border-radius: 10px;
        background-color: mediumpurple;
    }
</style>
<body>
    <h1>Bem-Vindo ao meu Primero CP!!</h1>
    <h4>Esse e a resolucao do meu primeiro checkpoint em C#</h4>
    <p>Voce pode saber mais clicando abaixo:</p>
    <a href="@Url.Action("Index", "About")"><button>About</button></a>
    <a href="@Url.Action("Index", "Contact")"><button>Contact</button></a>
</body>
</html>
