<!DOCTYPE html>
<html>
<head>
    <title>Contatos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: #333;
            font-weight: bold;
        }
        p {
            color: #666;
        }
        button {
        border-radius: 10px;
        background-color: mediumpurple;
    }
    </style>
</head>
<body>
    <h1>Entre em contato</h1>
    <p>Voce pode entrar em contado comigo pelo E-mail: pedrobaraldi02@gmail.com
        <br />
        Pedro Baraldi Sa - Rm98060
    </p>
    <a href="@Url.Action("Index", "Home")"><button>Home</button></a>
    <a href="@Url.Action("Index", "About")"><button>About</button></a>
</body>
</html>
